<div id='modal{{mNumber}}' class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>{{projectTitle}}</h4>
        <p>{{projectDescriptionLong}}</p>
        <img class="materialboxed cnt" src='{{imagePath}}' alt="{{projectTitle}}" width="200px">
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn blue" href="{{githubLink}}" target="_blank">Github Link</a>
        <a class="modal-close waves-effect waves-light btn red">Close</a>
    </div>
</div>