<h3 class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 center-align">Projects</h3>
<div class="row" id="container">
    <div class="col s12 m6 l4">
<!-- Waste Segregator -->
<app-project 
    projectTitle="Waste Segregator"
    projectDescriptionShort="Smart Dustbin which, segragates plastic and paper using neural network."
    projectDescriptionLong="
    Made this project for Swadheenta (Hack Infinity 2.0) hackathon.
    Used an android phone camera to capture the image, this image is sent to neural network 
    and neural network gives response in 0 means plastic and 1 means paper.
    We have created our own dataset for neural network using paper cups and plastic wrappers."
    imagePath="assets/images/waste_segregator.jpg"
    githubLink="https://github.com/pcube99/waste-segregator"
    mNumber="1">
</app-project>
</div>

<!-- Who is the thief -->
<div class="col s12 m6 l4">
<app-project 
    projectTitle="Who is the thief!"
    projectDescriptionShort="Online multiplayer web app of classic Raja, Wazir, Chor, Sipahi game.
    PWA supported."
    projectDescriptionLong="
    Online multiplayer web app of classic Raja, Wazir, Chor, Sipahi game.
    Frontend is in Angular and backend is in SpringBoot. A person can create a room and add at max
    4 people in a room. Also has whatsapp room share feature."
    githubLink="https://github.com/pcube99/who-is-the-thief"
    mNumber="2">
</app-project>
</div>
</div>