#profilePic {
    margin-top: 5%;
    border-radius: 50% !important;
}

fieldset {
    margin-top: 10%;
    background-color: white;
    border-radius: 10px;
}

#desc {
    float: right;
    font-size: 35px;
    font-weight: 500;
}