<div class="container">
    <div class="row">
        <fieldset>
            <div>
                <img id="profilePic" src="assets/images/profilePic.jpg" alt="pankil image" 
                    class="col s12 m4 l4 responsive-img">
                    <!-- <h4> Pankil Panchal </h4> -->
                    <div class="col s12 m8 l8 valign-wrapper" id="desc">
                        Hello! My name is Pankil Panchal. 
                        <br>
                        I am full stack web developer.
                        <br>
                        Apart from coding I watch lot of series and movies.
                    </div>
            </div>
            
        </fieldset>
        
    </div>
</div>