<div class="container">
    <div class="row">
        <div class="col textBold sbox1 zoom center-align" (click)="redirectTo('home');">
            Hello, I am Pankil Panchal
        </div>
        <div class="col textBold sbox2 zoom center-align" (click)="redirectTo('about');">
            About Me
        </div>
        <div class="col textBold sbox3 zoom center-align" (click)="redirectTo('projects');">
            Projects
        </div>
        <div class="col textBold sbox4 zoom center-align" (click)="redirectTo('contact');">
            Contact Me
        </div>
    </div>

</div>
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->