<div class="container">
    <div class="row">
        <div>
            <h3 class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 center-align">Contact Me</h3>
            <div class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 center-align sbox1 zoom" >
                <img src="assets/images/linkedin.png" alt="linkedin" width="50px">
                <h5 class="cursiveText"> Linkedin </h5>
            </div>
            <div class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 center-align sbox2 zoom" >
                <img src="assets/images/facebook.png" alt="facebook" width="50px">
                <h5 class="cursiveText"> Facebook </h5>
            </div>
            <div class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 center-align sbox1 zoom" >
                <img src="assets/images/twitter.png" alt="twitter" width="50px">
                <h5 class="cursiveText"> Twitter </h5>
            </div>
            <div class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 center-align sbox2 zoom" >
                <img src="assets/images/instagram.png" alt="instagram" width="50px">
                <h5 class="cursiveText"> Instagram </h5>
            </div>

        </div>
    </div>
</div>