.card {
    padding: 0 !important;
    margin: 0 !important;
}

#container {
    margin-top: 5% !important;
    font-size: large;
}

#githubLink {
    margin-left: 2%;
}

.cnt {
    margin: 0 auto;
}

#modal1 {
    font-size: large;
}