/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%;
    background-color: #fbffa3;
    padding: 0px !important;
    margin: 0px !important;
    /* font-family: 'Satisfy', cursive; */
    
}